* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}
 
html {

    font-size: 16px;

}
 
body {

    font-size: 1.5rem;

    font-family: Roboto, Arial, sans-serif;

    line-height: 1.5;

}
 
h1, h2, p, ul {

    margin: 1rem;

}

p {

    padding: 10px;

}

nav ul {

    list-style-type: none;

}

nav ul li a {

    background-color: lightpink;

    color: black;

    text-decoration: none;

    padding: 10px;

    flex: 100%;

}
 
nav ul li a:hover{

    background-color: deeppink;

    color: black;

}
 
nav ul li {

    display: flex;

}
 
section p {

    background-color: aqua;

    color: black;

}

#images div {

    margin: 1rem;

}
 
img {

    max-width: 100%;

    /*height: auto;*/

}
#extra div {
    background-color: lightsteelblue;
    color: black;
    margin: 1 rem;
}
#quote {
    height: 30vh;
    background-color: #ccc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {

    nav ul {

        display: flex;

    }

    nav ul li {

        flex: 100%;

    }

    .container {

        outline: 1px solid #000;

        max-width: 1200px;

        margin: auto;

    }

    #theory {

        display: flex;

        flex-direction: row;

        flex-wrap: wrap;

        justify-content: flex-start;

        align-items: stretch;

    }

    #theory p {

        width: 200px;

        flex-grow: 1;

        flex-basis: 400px;

    }

    #images {

        display: flex;

        flex-direction: row-reverse;
        align-items: center;

    }
    #extra {
        display: flex;
        justify-content: space-between;
    }
    #extra div {
        max-width: 30vw;
        
        
    }

}
 